<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/semantica/og_big.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="canonical" href="http://digital.psico.edu.uy/semantica">

</head>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


<main>

<div id = "rotateDeviceAlert">
    <b>¡¡Por favor rotá tu dispositivo y ponelo vertical!!</b>
</div>

<div id="progress-container">
    <div id="progress-bar"></div>
</div>


<div id="content">


        <div class="row">
           <div class="cue_title">
                <h2  id="cue_word">{{ cue_word }}</h2>
            </div>
            <div class="siguiente-container">
                <button id="next-button" class="button medium">Siguiente</button>
                <p id="saving_status"></p>
            </div>
        </div>
        <br>
        <div class="response-rectangle" id="response-rectangle-1">1</div>
        <div class="response-rectangle" id="response-rectangle-2">2</div>
        <div class="response-rectangle" id="response-rectangle-3">3</div>
        <div class="response-rectangle" id="response-rectangle-4">4</div>
        <div class="response-rectangle" id="response-rectangle-5">5</div>

        <div id="target-words">
                {% for word in target_words %}
                <div class="draggable-word" data-word="{{ word }}">{{ word }}</div>
                {% endfor %}
        </div>


        <br>

        <div id="message"></div>

        </main>
</div>
<script>
$(document).ready(function() {
    initializeDraggables();

    $(".response-rectangle").droppable({
        accept: ".draggable-word",
        drop: function(event, ui) {
            let $draggedFrom = ui.draggable.data('dragged-from');

            // If the rectangle already has a word and the dragged item isn't coming from the same rectangle, detach the existing word.
            let $existingWord = $(this).is($draggedFrom) ? null : $(this).find(".draggable-word").detach();

            // Append the dragged word to the rectangle.
            ui.draggable.draggable('option', 'revert', false);
            $(this).append(ui.draggable);

            // If dragged word originally came from another response-rectangle, place the stored word there.
            if ($draggedFrom && !$draggedFrom.is($(this)) && $draggedFrom.hasClass('response-rectangle')) {
                $draggedFrom.append($existingWord);
                // Update the dragged-from property for the word we just placed into the old rectangle
                $existingWord.data('dragged-from', $draggedFrom);
            } else if ($existingWord) {
                // If the dragged word came from the target-words area, move the stored word there.
                $("#target-words").append($existingWord);
                $existingWord.removeData('dragged-from'); // Clear the 'dragged-from' data since it's back in the pool
            }

            // Update the origin of this word for future swaps
            ui.draggable.data('dragged-from', $(this));

            initializeDraggables();  // Reinitialize draggables in case any property changed
        }
    });


    // Update for the target words area
    $("#target-words").droppable({
        accept: ".draggable-word",
        drop: function(event, ui) {
            ui.draggable.draggable('option', 'revert', false);
            $(this).append(ui.draggable);
            // Clear the 'dragged-from' data since it's back in the pool
            ui.draggable.removeData('dragged-from');
            initializeDraggables();  // Reinitialize draggables
        }
    });




    let progressPercentage = ( {{ trial_n }} / {{ trial_total }}  ) * 100;
    $('#progress-bar').width(progressPercentage + '%');
    
    

function initializeDraggables() {
    $(".draggable-word").draggable({
        appendTo: 'body',  // temporarily move to the body while dragging
        helper: function() {
            return $(this).clone().width($(this).width());  // ensure cloned helper has the same width
        },
        connectToSortable: "#response-rectangle",
        revert: "invalid",
        containment: "document",
        cursor: "move",
    });
}

    function updateSelectedWords() {
        let selectedWords = [];
        $("#response-rectangle .draggable-word").each(function() {
            selectedWords.push($(this).text());
        });
        $("#selected-words-input").val(selectedWords.join(','));
    }
    });


$("#next-button").on("click", function() {
    // Gather selected words
    const selectedWords = [];

    $(".response-rectangle").each(function() {
        const word = $(this).children(".draggable-word").text().trim();
        if (word) { // Check if a word exists in the rectangle
            selectedWords.push(word);
        }
    });

    // Save to server
    const cue_word = $("#cue_word").text().trim();
    
    if (selectedWords.length != 5) {
        $("#saving_status").text("¡Tenés que elegir 5 palabras!");
    }
    else {
        $("#saving_status").text("Guardando datos...");

        $.post("http://digital.psico.edu.uy/semantica/similarity_save_response",
        //$.post("/similarity_save_response",
            { words: selectedWords, cue: cue_word  },
            function(data) {
                if (data.status === "success") {
                    // Reload the page for the next cue and target set
                    $("#saving_status").text("");
                    location.reload();
                } else if (data.status === "completed") {
                    // Redirect to next task
                    location.href = "/semantica/semantic_similarity_pause";
                } else if (data.status === "done") {
                    location.href = "/semantica/gracias";
                } else if (data.status === "error") {
                    $("#saving_status").text("Error interno. Inténtelo más tarde.");
                }
                
            }
        ).fail(function() {
            // Handle any errors from the server or network issues
            $("#saving_status").text("Error al guardar. Por favor, inténtelo de nuevo.");
        });
    }
    
});



function checkOrientation() {
    let alertBox = document.getElementById('rotateDeviceAlert');
    if (window.orientation === 0) { // 0 means portrait
        alertBox.style.display = 'none';
    } else {
        if (window.orientation === 1) {
            alertBox.style.display = 'block';
        }
    }
}

//chequea orientación al cargar la página
checkOrientation();

window.addEventListener("orientationchange", checkOrientation)



</script>
