<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


<main>
<br><br>
<h2 id="cue_word">{{ cue_word }}</h2>

<div id="response-rectangle">
    <!-- Items dragged here will appear -->
</div>


<div id="target-words">
    {% for word in target_words %}
    <div class="draggable-word" data-word="{{ word }}">{{ word }}</div>
    {% endfor %}
</div>

<br>
<div>
<button id="next-button" class="button medium">Siguiente</button>
<p id="saving_status"></p>
</div>
<div id="message"></div>

</main>

<script>
$(document).ready(function() {
    initializeDraggables();

    $("#response-rectangle").droppable({
        accept: ".draggable-word",
        drop: function(event, ui) {
            const maxWords = 5;
            const wordBeingDragged = ui.draggable.text().trim();

            let wordAlreadyExists = false;
            $(this).find('.draggable-word').each(function() {
                if ($(this).text().trim() === wordBeingDragged) {
                    wordAlreadyExists = true;
                    return false; // exit the .each() loop early
                }
            });

            if ($(this).find(".draggable-word").length < maxWords || wordAlreadyExists === true) {
                ui.draggable.draggable('option', 'revert', false);
                $(this).append(ui.draggable);
                updateSelectedWords();
                initializeDraggables();  // reinitialize draggables in case any property changed
            } else {
                ui.draggable.draggable('option', 'revert', true);
            }
        }
    });


    $("#target-words").droppable({
        accept: ".draggable-word",
        drop: function(event, ui) {
            ui.draggable.draggable('option', 'revert', false);
            $(this).append(ui.draggable);
            updateSelectedWords();
            initializeDraggables();  // reinitialize draggables
        }
    });

function initializeDraggables() {
    $(".draggable-word").draggable({
        appendTo: 'body',  // temporarily move to the body while dragging
        helper: function() {
            return $(this).clone().width($(this).width());  // ensure cloned helper has the same width
        },
        connectToSortable: "#response-rectangle",
        revert: "invalid",
        containment: "document",
        cursor: "move",
    });
}

    function updateSelectedWords() {
        let selectedWords = [];
        $("#response-rectangle .draggable-word").each(function() {
            selectedWords.push($(this).text());
        });
        $("#selected-words-input").val(selectedWords.join(','));
    }
});


$("#next-button").on("click", function() {
    // Gather selected words
    const selectedWords = [];
    $("#response-rectangle").children().each(function() {
        selectedWords.push($(this).text().trim());
    });

    // Save to server
    cue_word = document.querySelector("h2#cue_word").textContent;
    document.getElementById("saving_status").innerHTML = "Guardando datos..."
    $.post("http://digital.psico.edu.uy/semantica/similarity_save_response", { words: selectedWords, cue: cue_word  }, function(data) {
        if (data.status === "success") {
            // Reload the page for the next cue and target set
            document.getElementById("saving_status").innerHTML = ""
            location.reload();
        } else if (data.status === "completed") {
            // redirecto to next task
            //$.post("/semantic_similarity_pause")
            location.href = "/semantica/semantic_similarity_pause";
        }
        else if (data.status === "done") {
            location.href = "/semantica/instrucciones_feat";
        }

    });
});

</script>
