<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Estudio de lectura digital | Prueba de vocabulario</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  <h1>Tarea de similitud semántica</h1>
  <main>
  <div class="instructions">
  Instrucciones...
  </div>
  
  <div>
        <a class="button medium" href="semantic_similarity_drag">Comenzar</a>
      </div>
</main>
  </body>
</html>
