<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Estudio de semántica léxica</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  <h1>Relacionamiento de palabras</h1>
  <main>
  <div class="instructions">
 <p> A continuación te aparecerá un conjunto de palabras  a partir de las cuales tendrás que seleccionar las 5 más relacionadas a la palabra de arriba. </p>
<p>Por ejemplo, para el conjunto  “animales”, se mostrará la palabra “gato” a partir de la cual se deberá indicar los 5 animales más relacionados, en orden de más a menos relacionado. </p>
<p>Para seleccionar las palabras, arrastrá cada una de ellas hacia uno de los recuadros superiores, teniendo en cuenta que la primera seleccionada se considerará la más relacionada, la segunda seleccionada la segunda más relacionada, etc. </p>
<p>Podés mover de lugar las palabras elegidas: recuerda dejarlas en orden de más a menos relancionamiento.</p>
<p>Para comenzar con la prueba o toca en Continuar.</p>

</div>
  
  <div>
        <a class="button medium" href="semantic_similarity_drag">Comenzar</a>
      </div>
</main>
  </body>
</html>
