<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
      <h1>
        Pausa
      </h1>
    </header>
    <main>
      <p>        Toma un breve descanso...</p>
    <footer>
      <div>
        <a class="button mediano" href="semantic_similarity_drag">Continuar</a>
      </div>
    </footer>

</body>
</html>
