<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
      <h1>
        Gracias de todas formas
      </h1>
        <div class="logos">
        <img src="static/img/logo_cibpsi.png" alt="logo del cibpsi" width="10%"/>
        <img src="static/img/logo_leer.png" alt="logo del proyecto"/>
        <img src="static/img/logo_anii.png" alt="logo de la anii"/>
      </div>
    </header>
    <main>
      <p>Bueno, podés volver más tarde, o recomendarle el estudio a tus amigas y amigos. :)</p>
<p>Recordá que la información recabada con la investigación es anónima. Sólo el equipo de investigación tendrá acceso a los datos. El análisis y la eventual comunicación de los resultados se hará de forma grupal.
. </p>

    </main>
    <footer>
      <div class="credits">
        <div class="autores">
          <p><b>Investigador Responsable</b>: Álvaro Cabana</p>
          <p><b>Equipo:</b> Fanny Delorme - Julia Fernández - Sabrina González - Clara Marrero - Eugenia Vázquez </p>
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay
        </div>
      </div>
      <div>
        <a class="button quiero_participar" href="info">¡Quiero participar!</a>
      </div>
    </footer>

</body>
</html>
