<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
      <h1>
        Estudio de similitud semántica
      </h1>
        <div class="logos">
        <img src="static/img/logo_cibpsi.png" alt="logo del cibpsi" width="10%"/>
        <img src="static/img/main_logo.svg" alt="logo del proyecto"/>
        <img src="static/img/logo_anii.png" alt="logo de la anii"/>
      </div>
    </header>
    <main>
      <p>A partir de nuestros sentidos obtenemos información, mientras que nuestros cuerpos nos proveen de feedback al interactuar con el ambiente. Se ha demostrado que personas privadas de una modalidad sensorial pueden inferir información concerniente a dicho sentido a partir del lenguaje. En este estudio se busca explorar los límites del lenguaje para codificar información sensoriomotora y emocional a partir de la comparación entre respuestas humanas y respuestas de modelos computacionales del lenguaje, como Chat GPT. </p>

      <p>¡Ayudanos a explorar en qué se diferencian las personas de las computadoras!</p>
      <p>Participar en el estudio implica completar un formulario con preguntas sobre ti y realizar dos pruebas sencillas que llevarán aproximadamente <b>20 minutos</b>:</p>
      <ul>
        <li>
          <b>Similitud de palabras</b>: indicar cuáles son las cinco palabras más parecidas a una palabra objetivo.
        </li>
        <li>
          <b>Rasgos semánticos</b>: puntuar la palabra que se muestra en base a dos extremos (p.ej.: amor-odio).
        </li>
      </ul>
      <p>
      Para participar en este estudio es necesario que seas hablante nativo rioplatense, y tengas de 18 años o más.
      </p>
      <p>Para una mejor experiencia recomendamos usar computadora o tablet.</p>
    </main>
    <footer>
      <div class="credits">
        <div class="autores">
          <p><b>Investigador Responsable</b>: Álvaro Cabana</p>
          <p><b>Equipo:</b> Fanny Delorme - Julia Fernández - Sabrina González - Clara Marrero - Eugenia Vázquez </p>
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay
        </div>
      </div>
      <div>
        <a class="button quiero_participar" href="info">¡Quiero participar!</a>
      </div>
    </footer>

</body>
</html>
