<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de semántica léxica</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  <main>
  <h1>Empecemos</h1>
  <div class="instructions">
  Gracias por participar en nuestro estudio. Completar el formulario y realizar las dos pruebas te llevará alrededor de 20 minutos.
 <ul>
 <li><b>Cuestionario sobre ti:</b> 1 minuto</li>
   <li><b>Puntuación de rasgos:</b> 10 minutos</li>
   <li><b>Palabras relacionadas:</b> 10 minutos</li>
 </ul>
  </div>
  Ponete cómoda/o y disfrutá.

       <a class="button medium" href="sociodemo">Comenzar</a>

      </main>

  </body>
</html>
