<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica | Formulario sociodemográfico </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

</head>
<body>

    <header>
      <h1>
        Formulario sociodemográfico
      </h1>
      <p>Contesta las siguientes preguntas y selecciona las opciones que se acerquen más a tu situación.</p>
    </header>
    <main>
    <form action="{{ url_for('sociodemo') }}" method="post">
        <!-- Add form fields for sociodemographic data here. For example: -->

          <div class="pregunta">
          <div class="contenido">
            Edad:
          </div>
          <input type="number" name="age" id="age">
          </div>
          <br>

          <div class="pregunta">
          <div class="contenido">
            Género:
          </div>
          <div class="respuesta">
            <ul>
              <li>
                <input type="radio" value="mujer" name="gender" required /> Mujer
              </li>
              <li>
                <input type="radio" value="hombre" name="gender" required /> Hombre
              </li>
              <li>
                <input type="radio" value="no_contesta" name="gender" required /> Prefiero no aclarar
              </li>
              <li>
                <input type="radio" value="otro" name="gender" required /> Prefiero describirme: <input type="text" value="" name="genero_otro" />
              </li>
            </ul>
          </div>
        </div>

        <div class="pregunta">
          <div class="contenido">Principal país de residencia durante la infancia:</div>
          <div class ="respuesta">
          <ul>
                <li>
                <input type="radio" value="ar" name="country_of_birth" required /> Argentina
                </li>
                <li>
                <input type="radio" value="uy" name="country_of_birth" required /> Uruguay
                </li>
                <li>
                <input type="radio" value="other" name="country_of_birth" required /> Otro
                </li>
          </ul>
          </div>

      <div class="pregunta">
          <div class="contenido">
            ¿Cuál es tu máximo nivel de estudios completado?
          </div>
          <div class="respuesta">
            <ul>
              <li>
                <input type="radio" value="posgrado" name="nivel_estudios" required />
                Posgrado
              </li>
              <li><input type="radio" value="grado" name="nivel_estudios" required />
                Grado Universitario o Terciario
              </li>
              <li><input type="radio" value="bachillerato" name="nivel_estudios" required />
                Bachillerato (secundaria/media superior)
              </li>
              <li><input type="radio" value="secundaria" name="nivel_estudios" required />
                Secundaria básica (media básica)
              </li>
              <li><input type="radio" value="primaria" name="nivel_estudios" required />
                Primaria
              </li>
              <li><input type="radio" value="incompleta" name="nivel_estudios" required />
                No completé educación primaria
              </li>
            </ul>
          </div>
        </div>

                <div class="pregunta">
          <div class="contenido">Idioma que usas más frecuentemente:</div>
          
          <div class ="respuesta">
          <ul>
                <li>
                <input type="radio" value="ar-rp" name="language" required /> Argentina: Español Rioplatense
                </li>
                <li>
                <input type="radio" value="uy-rp" name="language" required /> Uruguay: Español Rioplatense
                </li>
                <li>
                <input type="radio" value="ar-co" name="language" required /> Argentina: Cordobés
                </li>                
                <li>
                <input type="radio" value="ar-oth" name="language" required /> Argentina: otro
                </li>
                <li>
                <input type="radio" value="uy-pñ" name="language" required /> Uruguay: Portuñol
                </li>
                <li>
                <input type="radio" value="other" name="language" required /> Otro
                </li>
          </ul>
          </div>
          
        <input class="button" type="submit" value="Siguiente">
    </form>
    </main>
</body>
</html>
