<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
      <h1>
        Consentimiento informado
      </h1>
     </header>
    <main>
      <p>Texto1</p>
      <p>Texto 2</p>
      <p>¡Ayudanos a descubrirlo!</p>
      <p>Participar en el estudio implica completar un formulario con preguntas sobre ti y realizar dos pruebas sencillas que llevarán en total unos 15 minutos:</p>
      <ul>
        <li>
          <b>Similitud de palabras</b>: bla
        </li>
        <li>
          <emph>Rasgos semánticos</emph>: diferenciar autores reales de inventados
        </li>
        <li>
          Lectura de textos: leer dos textos y responder siete preguntas de comprensión lectora
        </li>
      </ul>
      <p>
      ETC
      </p>
      <p>Para una mejor experiencia recomendamos usar computadora o tablet.</p>

      <div class="actions">
        <div>
          <a class="button with_uid" href="sociodemo">Acepto participar</a>
        </div>
        <div>
          <a class="button" href="gracias">No acepto participar</a>
        </div>
      </div>


    </main>
    <footer>
      <div class="credits">
        <div class="autores">
          Nombres
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay
        </div>
      </div>
    </footer>

</body>
</html>
