<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
      <h1>
        Consentimiento informado
      </h1>
     </header>
    <main>
      
      <p>Declaro haber leído y comprendido la información que se me ha presentado al inicio, referente al estudio que llevan adelante el Centro de Investigación Básica en Psicología y el Centro Interdisciplinario de Ciencia de Datos y Aprendizaje Automático. Este proyecto busca investigar cómo se representa el significado de las palabras en la mente humana y compararlo con las representaciones obtenidas por computadoras. Esto se hace con el fin de comprender mejor tanto el funcionamiento de la mente humana, como las posibilidades de la inteligencia artificial.</p>
      
      <p>He comprendido que la participación en el estudio es voluntaria y que, por tanto, puedo abandonar el mismo en el momento que lo desee, sin tener que dar explicaciones. También he sido informado en relación a que mis datos serán tratados y custodiados con respeto a mi intimidad y a la vigente normativa de protección de datos. </p>
      
      <p>Manifiesto voluntariamente mi deseo de participar en este estudio.</p>
      
      <div class="actions">
        <div>
          <a class="button with_uid" href="intro">Acepto participar</a>
        </div>
        <div>
          <a class="button" href="gracias_igual">No acepto participar</a>
        </div>
      </div>


    </main>
    <footer>
      <div class="credits">
        <div class="autores">
          Nombres
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay
        </div>
      </div>
    </footer>

</body>
</html>
