<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/semantica/og_big.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/semantica">

</head>
<body>
    <header>
      <h1>
        ¡Gracias!
      </h1>
        <div class="logos">
        <img src="static/img/logo_cibpsi.png" alt="logo del cibpsi" width="10%"/>
     <img src="static/img/main_logo.svg" alt="logo del proyecto" width="25%"/>
        <img src="static/img/logo_anii.png" alt="logo de la anii"/>
      </div>
    </header>
    <main>
      <p>¡Gracias por participar de nuestro estudio!</p>
      <p>Sólo una cosa más. ¿Te animás a ayudarnos a difundirlo?</p>
      <div class = "social-buttons">

          <div class="fb-share-button"
            data-href="digital.psico.edu.uy/semantica"
            data-layout="button_count">
          </div>

        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=Participé%20de%20este%20estudio%20sobre%20el%20significado%20de%20las%20palabras%20y%20me%20divertí%20mucho.%20Hacelo%20vos%20también!%20@lexicon_uy%20@psicoudelaruy&url=http://digital.psico.edu.uy/semantica"
          data-size="large">Posteá en X (tuiteá)</a>

        </div>
    </main>
    <footer>
      <div class="credits">
        <div class="autores">
          <p><b>Investigador Responsable</b>: Álvaro Cabana</p>
          <p><b>Equipo:</b> Fanny Delorme - Julia Fernández - Sabrina González - Clara Marrero - Eugenia Vázquez </p>
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay
        </div>
      </div>
      <div>
        <a class="button quiero_participar" href="reset_cat">¡Quiero participar otra vez!</a>
      </div>
    </footer>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
