<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/lectura/resultados/leer.png" />
    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
      <h1>
        Información sobr el estudio
      </h1>
        <div class="logos">
        <img src="static/img/logo_cibpsi.png" alt="logo del cibpsi" width="10%"/>
        <img src="static/img/main_logo.svg" alt="logo del proyecto"/>
        <img src="static/img/logo_anii.png" alt="logo de la anii"/>
      </div>
    </header>
    <main>
      <p>Te hemos invitado a participar en un estudio de investigación para profundizar en el conocimiento de la naturaleza de la representación del significado de las palabras, tanto en personas como en computadoras.Te agradecemos leer atentamente esta hoja informativa, que puedes copiar y conservar para tus archivos.</p>

      <p>Este estudio está dirigido por el investigador Álvaro Cabana, Profesor Agregado de la Facultad de Psicología (Universidad de la República, Montevideo, Uruguay), en el que participan otros investigadores de esa Universidad. No dudes en ponerte en contacto con Álvaro Cabana (acabana@psico.edu.uy) si tienes alguna pregunta.</p>
      
      <p class="info-q">     ¿Por qué me han invitado al estudio y qué voy a hacer?</p>
<p>Estamos invitando a hablantes nativos del español rioplatense mayores de 18 años a colaborar, haciendo juicios acerca de la relación entre palabras y sus significados. </p>
<p>Primero se te pedirá que respondas un breve cuestionario sociodemográfico (género, edad, lengua nativa, máximo nivel educativo alcanzado). No te pediremos datos identificatorios como nombre o dirección, pero si así lo deseas podrás compartir tu ubicación (como lo hacen muchas aplicaciones y páginas web). </p>
<p>Luego te presentaremos una lista de palabras, y te pediremos que las ordenes según te parezcan más similares en su significado a otra palabras de referencia. </p>
<p>Luego te presentaremos una palabra de referencia, y un eje demarcado en sus dos extremos con palabras opuestas como tristeza-felicidad, odio-amor, miedo-valentía, etc. Para cada palabra, te pediremos que muevas un indicador hasta indicar el lugar en el que tú consideres que corresponde ubicar esa palabra en el eje.</p>


      <p class="info-q">¿Hay algún riesgo o beneficio en participar?</p>
      <p>Las tareas son simples y no muy largas (estimamos que tardarás alrededor de 20 minutos), sólo implica pensar en el significado de las palabras y tomar decisiones sencillas. Por tanto no consideramos que haya riesgos o beneficios en participar.</p>
      
      <p class="info-q">¿Qué pasará con los resultados y mi información personal?</p>
      <p>Los resultados de esta investigación se plasmarán en presentaciones en congresos y otras actividades académicas, elaboradas por el equipo de investigadores. También serán publicados como artículos revistas especializadas de ciencias cognitivas y/o ingeniería. Los datos anonimizados (sin datos personales) quedarán disponibles luego para que otros investigadores (o cualquier persona que lo desee) los pueda emplear con fines no económicos.</p>
      
      <p>Lee atentamente esta información y, si deseas participar, marca la casilla correspondiente para mostrar que has comprendido plenamente esta información y que aceptas participar en el estudio tal y como se describe aquí.</p>

<p>Para más información sobre esta investigación, ponte en contacto con Álvaro Cabana (acabana@psico.edu.uy). Esta investigación ha sido aprobada por el Comité de Ética en la Investigación de la Facultad de Psicología, Universidad de la República.</p>

      
    </main>
    <footer>
      <div class="credits">
        <div class="autores">
          <p><b>Investigador Responsable</b>: Álvaro Cabana</p>
          <p><b>Equipo:</b> Fanny Delorme - Julia Fernández - Sabrina González - Clara Marrero - Eugenia Vázquez </p>
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay
        </div>
      </div>
      <div>
        <a class="button quiero_participar" href="consentimiento">¡Quiero participar!</a>
      </div>
    </footer>

</body>
</html>
