<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://digital.psico.edu.uy/semantica/og_big.png" />

    <title>Estudio de similitud semántica </title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/semantica">

</head>



<body>

<main>


<div id="progress-container">
    <div id="progress-bar"></div>
</div>


<div id="content">
  <form action="{{ url_for('feature_save') }}" method="post">
      
    
    
    <table class="rating-table">
    <tr>
    <td colspan=3 align="center">
    <h2>{{ word }}</h2>
    </td>
    </tr>

    {% for dimension in dimensions %}
      <tr>
    
      <td class="dim-label-col left-label"><label>{{ dimension[0] }}</label>  </td>
      <td class="range-col"><input type="range" class="range "name="{{ dimension[0] }}" min="0" max="10"> 
      <output class="bubble"></output>
      </td>
      <td class="dim-label-col"><label>{{ dimension[1] }}</label>  </td>

    </tr>
    {% endfor %}
      </table>
      <input type="submit" value="Siguiente" class="button medium">
      
  </form>
</div>  
</main>

<script>

  const allRanges = document.querySelectorAll(".range-col");
  allRanges.forEach(wrap => {
    const range = wrap.querySelector(".range");
    const bubble = wrap.querySelector(".bubble");

    range.addEventListener("input", () => {
      setBubble(range, bubble);
    });
    setBubble(range, bubble);
  });

  function setBubble(range, bubble) {
    const val = range.value;
    //symmetric value
    const val_sym = Math.abs(range.value - range.max / 2);  
    
    const min = range.min ? range.min : 0;
    const max = range.max ? range.max : 100;
    
    const newVal = Number(((val - min) * 100) / (max - min));
    bubble.innerHTML = val_sym;

    // Sorta magic numbers based on size of the native UI thumb
    bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
  }


  function checkWidth() {
      //let alertBox = document.getElementById('rotateDeviceAlert');
      //let contenido = document.getElementById('content')
      let elements = document.querySelectorAll('.rating-table');
      if (window.innerWidth < 500) { // 0 means portrait
        elements.forEach((element) => {
          element.style.width = '300px';
        });
      } else {
        elements.forEach((element) => {
          element.style.width = '90%';
        });
      }
  }

  //chequea tamaño al cargar la página
  checkWidth();

  window.addEventListener("orientationchange", checkWidth)

  let progressPercentage = ( {{ trial_n }} / {{ trial_total }}  ) * 100;
  document.getElementById('progress-bar').style.width = progressPercentage+'%';




</script>


</body>
